@font-face
{
    font-family: "Open Sans";
    src: url("https://itadakistreetseriesanaly.blob.core.windows.net/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: light)
{
    :root
    {
        --page-background-color-1: #E6E6E6;
        --page-background-color-2: #B9B9B9;
        --page-foreground-color: #000;

        --navigation-link-foreground-color: #000000BF;
    }
}

@media (prefers-color-scheme: dark)
{
    :root
    {
        --page-background-color-1: #444;
        --page-background-color-2: #111;
        --page-foreground-color: #FFF;

        --navigation-link-foreground-color: #FFFFFFBF;
    }
}

@media (min-width: 1921px)
{
    :root
    {
        font-size: 24px;
    }
}

@media (max-width: 1920px) and (min-width: 600px)
{
    :root
    {
        font-size: 20px;
    }
}

@media (max-width: 599px)
{
    :root
    {
        font-size: 16px;
    }
}

@media (min-width: 1366px) and (min-height: 447px)
{
    #root > header, #root > main, #root > footer, #root > main > div
    {
        justify-content: center;
        align-items: center;
    }

    #root > header > div, #root > main > div > div, #root > footer > div
    {
        width: 90%;
    }

    #root > header > div, #root > footer > div
    {
        padding: 0.5em 0;
    }

    #root > main > div
    {
        display: flex;
        flex-direction: row;
    }

    #root > main > div > div:not(.spacing-vertical-content)
    {
        padding: 2em 0;
    }

    .carousel-inner
    {
        width: 90%;
    }

    .carousel-inner img
    {
        height: 500px;
    }

    .flex.flex-fluid-content
    {
        flex-direction: row;
    }

    .spacing-fluid-separator-container > div:not(:last-of-type)
    {
        margin-right: 25px;
    }

    .flex.flex-fluid-content > div:not(:last-of-type)
    {
        margin-right: 2em;
    }

    .flex.flex-fluid.content.flex-spacing-around > div
    {
        margin: 0 1em;
    }

    .spacing-vertical-content
    {
        padding-top: 8em;
        padding-bottom: 8em;
    }

    .flag, .flag svg
    {
        height: 36px;
    }
}

@media (max-width: 1365px), (max-height: 446px)
{
    html, body
    {
        min-width: 300px;
    }

    #root > header > div
    {
        padding: 1em 0.5em 0 0.5em;
    }

    #root > main > div > div:not(.spacing-vertical-content)
    {
        padding: 2em 0.5em;
    }

    #root > footer > div
    {
        padding: 1em 0.5em;
        flex-direction: column-reverse;
    }

    .dropdown-menu
    {
        max-width: 100%;
    }

    .dropdown-item
    {
        white-space: normal;
    }

    .carousel-inner
    {
        width: 75%;
    }

    .carousel-inner img
    {
        width: 100%;
    }

    .flex.flex-fluid-content
    {
        flex-direction: column;
    }

    .flex.flex-fluid-content > div:not(:last-of-type)
    {
        margin-bottom: 2em;
    }

    .flex.flex-fluid-content.flex-spacing-around > div
    {
        margin: 1em 0;
    }

    .spacing-vertical-content
    {
        padding-top: 6em;
        padding-bottom: 6em;
    }

    .flag, .flag svg
    {
        height: 24px;
    }
}

:root
{
    font-family: "Open Sans", Helvetica, sans-serif;
    line-height: normal;

    --page-background-color-1: #E6E6E6;
    --page-background-color-2: #B9B9B9;
    --page-foreground-color: #000;

    --hover-content-background-color: #0000001A;
    --navigation-link-foreground-color: #000000BF;
}

html, body, h1, h2, h3, h4, h5, h6, .card-body.list-group
{
    margin: 0;
    padding: 0;
}

html, body, #root
{
    color: var(--page-foreground-color);
    background-color: var(--page-background-color-2);
}

a
{
    text-decoration: none;
    cursor: pointer;
}

svg
{
    pointer-events: none;
}

img, svg
{
    display: block;
    width: auto
}

a, .btn, .btn:hover, .dropdown a:hover, .card, .card-body, .list-group-item
{
    color: inherit;
}

.btn, .btn:hover, .card, .card-body.list-group > .list-group-item
{
    border-color: inherit;
}

.btn:hover, .dropdown a:hover
{
    text-decoration: inherit;
}

.btn
{
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25em;
}

.btn:hover, a.dropdown-item:hover, a.dropdown-item:active, .card-header
{
    background-color: var(--hover-content-background-color);
}

.list-group-item-action
{
    border-color: var(--navigation-link-foreground-color);
}

.list-group-item, .list-group-item-action:not(.active):focus, .list-group-item-action:not(.active):hover, .card
{
    background-color: inherit;
}

.sticky-top, .dropdown-menu
{
    z-index: 1;
}

.dropdown-menu
{
    min-width: auto;
    font-size: 0.9em;
}

.dropdown-menu.show
{
    z-index: 2;
}

.carousel-indicators
{
    margin: 0;
}

.carousel-indicators [data-bs-target]
{
    background-color: var(--page-foreground-color);
}

.carousel-indicators + .carousel-inner
{
    padding-bottom: 2em;
}

.carousel-control-prev, .carousel-control-next
{
    width: inherit;
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
    background-image: none;
    background-color: var(--page-foreground-color);

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.carousel-control-prev-icon
{
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon
{
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.card-body.list-group, .stats-container
{
    justify-content: space-evenly;
}

.card-body.list-group > .list-group-item
{
    justify-content: center;
}

.flex
{
    display: flex;
}

.flex.flex-row-content
{
    flex-direction: row;
}

.flex.flex-column-content
{
    flex-direction: column;
}

.flex.flex-center-content
{
    justify-content: center;
    align-items: center;
}

.flex.flex-spacing-around
{
    justify-content: space-around;
}

.flex > .flex-fill-content
{
    flex: 1;
}

#root > main > div:nth-of-type(odd)
{
    background-color: var(--page-background-color-1);
}

#root > header, #root > main > div:nth-of-type(even), #root > footer
{
    background-color: var(--page-background-color-2);
}

#root > header a, #root > footer a
{
    color: var(--navigation-link-foreground-color);
}

#root > header a:hover, #root > footer a:hover
{
    color: var(--page-foreground-color);
}

#website-link
{
    font-size: 1.25em;
}

#root > footer
{
    font-size: 0.75em;
}

.spacing-horizontal-separator-container > div:not(:last-of-type)
{
    margin-right: 1.5em;
}

.spacing-vertical-separator-container > div:not(:last-of-type)
{
    margin-bottom: 1.5em;
}

.spacing-vertical-separator-header-container > div:not(:last-of-type)
{
    margin-bottom: 0.75em;
}

.game-information-description-container
{
    font-size: 0.9em;
    font-style: italic;
}

.stats-container > div > div:first-of-type
{
    font-size: 3em;
}

.stats-container > div > div:last-of-type
{
    font-size: 1.25em;
}

.stats-container > div > div:last-of-type
{
    text-transform: uppercase;
}

.flag
{
    margin-right: 5px;
}
